<!--components\header\header.component.html-->

<div class="parallax-container">
  <img id="pokeball" src="https://i.ibb.co/fxB7N2W/pokeball-ad-removebg.png" alt="Pokeball">
  <h1 class="big-title">Pokemon Ultimate List</h1>
  <div id="particles-js"></div>
  <div class="parallax">
    <img id="background" src="https://i.ibb.co/02QLKDF/pokeball-ad.jpg" alt="Parallax Background Image">
  </div>
  <div class="floating-pikachu">
    <img src="https://i.ibb.co/rsfsb5S/picachu.png" alt="Floating Pikachu">
  </div>

  <div class="scroll-down" (click)="scrollToBottom()">
    <span>Scroll down</span>
    <div class="arrow"></div>
  </div>
</div>
